<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Facebook Chat</title>
<link rel="stylesheet" type="text/css" href="css/option-page.css" />
<!--<link rel="stylesheet" type="text/css" href="css/option-rtl.css" />-->
</head>

<body>
<div class="container">
	<div>
    	<img src="images/options-logo.png" width="278" height="29" alt="Facebook Chat" />
    </div>
    <div class="f">
    	<div class="strips"></div>
        <div class="options-content">
        	<span class="title f">Chat</span>
            <div class="options-container f">
                <div class="bottom-line f">
                	
                    <label class="f label">
                        Auto - clear for chat history
                    </label>
                    
                    <label class="f-r check-container">
                        <input name="" type="checkbox" value="" class="choose"  />
                    </label>
                    
                </div>
                
                <div class="bottom-line f">
                	
                    <label class="f label">
                         Turn on notification sound 
                    </label>
                    
                    <label class="f-r check-container">
                        <input name="" type="checkbox" value=""  class="choose" />
                    </label>
                    
                </div>
                
            	 
            </div>
            
            
            <span class="title f">Notifications </span>
            <div class="options-container f">
                <div class="bottom-line f">
                	
                    <label class="f label">
                         Turn on desktop notification
                    </label>
                    
                    <label class="f-r check-container">
                        <input name="" type="checkbox" value="" class="choose"  />
                    </label>
                    
                </div>
                
                <div class="bottom-line f">
                	
                    <label class="f label">
                          Turn on notification sound 
                    </label>
                    
                    <label class="f-r check-container">
                        <input name="" type="checkbox" value="" class="choose"  />
                    </label>
                    
                </div>
                
            </div>
            
            <span class="title f">General</span>
            <div class="options-container f">
                <label class="f label">
                         Turn on desktop notification
                    </label>
                    
                    <select class="f-r language">
                    	<option>English</option>
                        <option>Arabic</option>
                    </select>
                
                
                
            </div>
        </div>
        
        
        <input name="" type="submit" value="Do not Save" class="f-r no-save"/>
        <input name="" type="submit" value="Save" class="f-r save"/>
        
        
        
    </div>
</div>
</body>
</html>
