<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css/thank.css" />
<!--<link rel="stylesheet" type="text/css" href="css/thank-rtl.css" />-->
</head>

<body>
<div class="main-container">
	<div>
   	  <img src="images/thanks.png" width="232" height="69" alt="thanks" />
    </div>
    <div class="list f">
    	<ul>
        	<li>saving many registers on the stack at once</li>
            <li>moving large blocks of memory</li>
            <li>complex and/or floating-point arithmetic</li>
            <li>performing an atomic test-and-set instruction</li>
            <li>instructions that combine ALU with an operand from memory rather than a register</li>
            <li>complex and/or floating-point arithmetic</li>
        </ul>
    </div>
    <div class="f-r">
    	<img src="images/facebook_image.png" width="521" height="287" />
    </div>
</div>
</body>
</html>
