.slider-container{
    margin:0 auto;
    position:relative;
    width:100%;
    background:#AFB8C9;
}
img{border: 0;}
.slider{

    height: 75px !important;
}
.slider ul, .slider li{
    margin:0;
    padding:0;
    list-style:none;
}
.slider li{
    overflow: hidden;
    width:420px;
}
.content{
    margin: 0 auto;
    width: 336px;
	overflow:hidden;

}
.content .talker-image{
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    margin: 0px 3px;
    margin-top: 15px;


}
.talker-image img{
    -webkit-border-radius: 4px;
}
.talker-shadow{
    background:url(../images/shadow.png) no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;

}
.talker-active{
    background:url(../images/active.png) no-repeat 0 0;
    position: absolute;
    top: -17px;
    left: -2px;
    height: 67px;
    width: 53px;

}

#prevBtn, #nextBtn{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-8000px;
}
#prevBtn, #nextBtn{
    display:block;
    position:absolute;
    left:-30px;
    top:27px;
}
#nextBtn{
    left:382px;
}
#prevBtn a, #nextBtn a{
    display:block;
    width:28px;
    height:28px;
    background:url(../images/prev.png) no-repeat 0 0;
}
#nextBtn a{
    background:url(../images/next.png) no-repeat 0 0;
}