<html>
    <head>
        <title></title>
        <script type="text/javascript">
            window.onclose=function(){
                window.localStorage.unreadMSGS=0;
                chrome.browserAction.setBadgeText({
                    text:""
                });
            }
            function getParameter(name){
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( window.location.href );
                if( results == null )
                    return "";
                else
                    return results[1];
            }
            function openURL(url){
                chrome.tabs.create({
                    url:url,
                    selected:true
                });
                window.close();
            }
            var anim=[
                {
                    id:0,
                    img:'chat-icons/heart.png',
                    value:'<3'
                },
                {
                    id:1,
                    img:'chat-icons/kiki.png',
                    value:'^_^'
                },
                {
                    id:2,
                    img:'chat-icons/squint.png',
                    value:'-_-'
                },
                {
                    id:3,
                    img:'chat-icons/confused.png',
                    value:'o.O'
                },
                {
                    id:4,
                    img:'chat-icons/upset.png',
                    value:'>:O'
                },
                {
                    id:5,
                    img:'chat-icons/pacman.png',
                    value:':v'
                },
                {
                    id:6,
                    img:'chat-icons/colonthree.png',
                    value:':3'
                },
                {
                    id:7,
                    img:'chat-icons/kiss.png',
                    value:':*'
                },
                {
                    id:8,
                    img:'chat-icons/angel.png',
                    value:'O:)'
                },
                {
                    id:9,
                    img:'chat-icons/devil.png',
                    value:'3:)'
                },
                {
                    id:10,
                    img:'chat-icons/cry.png',
                    value:":'("
                },
                {
                    id:11,
                    img:'chat-icons/unsure.png',
                    value:':/'
                },
                {
                    id:12,
                    img:'chat-icons/grumpy.png',
                    value:'>:-('
                },
                {
                    id:13,
                    img:'chat-icons/sunglasses.png',
                    value:'8|'
                },
                {
                    id:14,
                    img:'chat-icons/glasses.png',
                    value:'8)'
                },
                {
                    id:15,
                    img:'chat-icons/wink.png',
                    value:';)'
                },
                {
                    id:16,
                    img:'chat-icons/gasp.png',
                    value:':O'
                },
                {
                    id:17,
                    img:'chat-icons/grin.png',
                    value:':D'
                },
                {
                    id:18,
                    img:'chat-icons/tongue.png',
                    value:':p'
                },
                {
                    id:19,
                    img:'chat-icons/frown.png',
                    value:':('
                },
                {
                    id:20,
                    img:'chat-icons/smile.png',
                    value:':)'
                },
                {
                    id:21,
                    img:'chat-icons/tongue.png',
                    value:':P'
                },
                {
                    id:22,
                    img:'chat-icons/pacman.png',
                    value:':V'
                },
                {
                    id:23,
                    img:'chat-icons/grin.png',
                    value:':d'
                },
                {
                    id:24,
                    img:'chat-icons/gasp.png',
                    value:':o'
                }
            ];
            var util={};
            util.replaceAll=function(str,match,replace){
                var retstr=str;
                while(retstr.indexOf(match) != -1){
                    retstr=retstr.replace(match, replace);
                }
                return retstr;
            }
        </script>
        <style type="text/css">
            .news-box{
                width: 275px;
                border-radius: 3px;
                float: left;
                padding-bottom:10px;
            }
            .message{
                border:1px solid #8496ba;
                height:29px;
                width:202px;
                float:left;

            }
            .send{
                width:68px;
                height:29px;
                background:url(images/notifacation-send.png) no-repeat;
                border:0;
                float:left;
                margin-left:5px;
            }
            .talker{
                color:#456db4;
                width: 199px;
                float:left;
                margin-left:0px;
                font:bold 10pt Tahoma, Geneva, sans-serif;
                margin-top:10px;
            }
            .desc{
                width: 199px;
                min-height:20px;
                color:#606060;
                word-wrap: break-word;
                float:left;
                margin-left:0px;
                font:12px Tahoma, Geneva, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="news-box">
            <div id="imgparent" style="float:left;-webkit-border-radius:5px;width:50px !important;height:50px !important;margin:10px 3px 3px 1px;position:relative;border:2px solid #66b816;">
                <a id="link" href="" onClick="">
                    <img id="img" width="50" height="50" alt="" style="-webkit-border-radius:3px;">
                </a>
                <!--<div style="position:absolute;width:54px;height:54px;background:url(images/user-shadow.png) no-repeat;top:-2px;left:-2px;"></div>-->
            </div>
            <div style="width: 171px;position:relative;float:right;margin:3px 35px 6px 0;">
                <div id="talker" class="talker"></div>
                <div id="desc" class="desc"></div>


            </div>
            <div style="margin-top: 70px;">
                <input type="text" size="30" id="messageBox" class="message"/>
                <button id="enterButton" class="send"></button>
            </div>
        </div>
        <script type="text/javascript">
            if(getParameter('icon')==''){
                document.getElementById("imgparent").parentNode.removeChild(document.getElementById("imgparent"))
            }else{
                document.getElementById("img").src=decodeURIComponent(getParameter('icon'));
                document.getElementById("img").alt=decodeURIComponent(getParameter('title'));
                console.log(decodeURIComponent(getParameter('icon')));
                document.getElementById("link").href=decodeURIComponent(getParameter('link'))
            };
            document.getElementById("talker").innerHTML=decodeURIComponent(getParameter('title'));
            //            document.getElementById("title").href=decodeURIComponent(getParameter('link'));
            var msg=decodeURIComponent(getParameter('msg'));
            for( z= 0; z< anim.length;z++){
                msg=util.replaceAll(msg, anim[z].value, '<img src="'+anim[z].img+'" width="16" height="16"/>');
            }
            document.getElementById("desc").innerHTML=msg;
            var closetime=decodeURIComponent(getParameter('closeafter'));
            if(closetime != 0){
                window.setTimeout("window.close();",closetime * 1000);
            }
            function sendMessage(){
                var message ={
                    msg:document.getElementById("messageBox").value,
                    to:decodeURIComponent(getParameter("uid"))
                }
                if(message.msg == ''){
                    return;
                }
                chrome.extension.sendRequest({
                    'action':'sendmessage',
                    'message':message
                });
                window.localStorage.unreadMSGS=0;
                chrome.browserAction.setBadgeText({
                    text:""
                });
                window.close();
            }
            document.getElementById("enterButton").onclick=function(){
                sendMessage();
            };
            document.getElementById("messageBox").onkeypress=function(e){
                if(e.keyCode == 13){
                    sendMessage();
                }
            }
        </script>
    </body>
</html>