<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/jquery-1.4.4.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/popup.js"></script>
        <script type="text/javascript" src="js/animations.js"></script>
        <script type="text/javascript" src="js/jquery.loadingdotdotdot.js"></script>
        <script type="text/javascript" src="../controllers/popup.js"></script>
    </head>
    <body>
        <div id="container" class="container">

            <div id="online-users" class="online-users f">
                <img alt="Online Friends" src="images/online-user.png" width="16" height="12" />
                Online Friends
            </div>

            <div id="friends-list" class="friends-list f">
                <img alt="Friend Lists" src="images/fr-list.png" width="13" height="13" />
                Friend Lists
            </div>

            <div id="settings" class="settings f">
                <img alt="Settings" src="images/setting.png" width="24" height="23" />
            </div>

            <!-- chat buddy name -->
            <div id="chat-buddy" class="status-box f">
                <div id="chat-buddy-img-div" style="float:left; margin:5px;"><img id="chat-buddy-img" src="images/status_color.png" width="21" height="21" alt="active" style="display: none;" /></div>
                <strong id="chat-buddy-name" value=""></strong>
                <div id="closeChat" style="float: right;margin-right: 10px;cursor: pointer;display: none;">x</div>
            </div>
            <!-- conversations  -->
            <div id="conversation-container" class="conversation-container">
                <!-- white  bubble-->
                <!--                <div class="conversation f other">
                                    <div class="chatbox f w-chatbox">
                                        <div class="w-chatbox-top f"></div>
                                        <div class="w-chatbox-middle f">
                                            i have got 3 weeks vacation .. woohooo ! tell that to everybody .. this gonna be crazy
                                        </div>
                                        <div class="w-chatbox-bottom f"></div>
                                        <div class="w-chatbox-arrow"></div>
                                    </div>
                                    <div class="talker-image f-r">
                                        <img src="images/user.png" width="50" height="50" alt="henedy" />
                                        <div class="talker-image-shadow"></div>
                                    </div>
                                </div>-->

                <!-- blue bubble-->
                <!--                <div class="conversation f me">
                                    <div class="chatbox f-r b-chatbox">
                                        <div class="b-chatbox-top f"></div>
                                        <div class="b-chatbox-middle f">
                                            So .. we will have you with us this weekend .. this is great .. everyone will be happy
                                        </div>
                                        <div class="b-chatbox-bottom f"></div>
                                        <div class="b-chatbox-arrow"></div>
                                    </div>
                                    <div class="talker-image f">
                                        <img src="images/user_1.png" width="50" height="50" alt="henedy" />
                                        <div class="talker-image-shadow"></div>
                                    </div>
                                </div>-->
            </div>

            <!-- online friends -->
            <div id="online-friends-slider-container" class="slider-container f">
                <div class="user-pointer" style="display: none;"></div>
                <div id="slideshow" style="display: none;">
                    <div id="slidesContainer">
                        <!--                        <div class="slide">
                                                    <div class="slider-image f current">
                                                        <img width="50" height="50" alt="henedy" src="images/user_1.png" >
                                                        <div class="talker-image-shadow"></div>
                                                    </div>
                                                </div>-->
                    </div>
                </div>

            </div>
            <!-- typing area -->
            <div class="typing-area f">
                <textarea id="chat-text-box" name="" cols="" rows="" class="typing-box f" >type your message here</textarea>
                <div class="icons f">
                    <div class="emoticons-container">
                        <div class="emoticons-top f"></div>
                        <div class="emoticons-middle f">
                            <div class="emoticons f" value=":)"><img alt=":)" src="chat-icons/smile.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":("><img alt=":(" src="chat-icons/frown.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":p"><img alt=":p" src="chat-icons/tongue.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":D"><img alt=":D" src="chat-icons/grin.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":O"><img alt=":O" src="chat-icons/gasp.png" width="16" height="16"></div>
                            <div class="emoticons f" value=";)"><img alt=";)" src="chat-icons/wink.png" width="16" height="16"></div>

                            <div class="emoticons f" value="8)"><img alt="8)" src="chat-icons/glasses.png" width="16" height="16"></div>
                            <div class="emoticons f" value="8|"><img alt="8|" src="chat-icons/sunglasses.png" width="16" height="16"></div>
                            <div class="emoticons f" value=">:-("><img alt=">:-(" src="chat-icons/grumpy.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":/"><img alt=">:/" src="chat-icons/unsure.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":'( "><img alt=">:'(" src="chat-icons/cry.png" width="16" height="16"></div>
                            <div class="emoticons f" value="3:)"><img alt="3:)" src="chat-icons/devil.png" width="16" height="16"></div>
                            <div class="emoticons f" value="O:)"><img alt="O:)" src="chat-icons/angel.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":*"><img alt=":*" src="chat-icons/kiss.png" width="16" height="16"></div>
                            <div class="emoticons f" value="<3"><img alt="<3" src="chat-icons/heart.png" width="16" height="16"></div>
                            <div class="emoticons f" value="^_^"><img alt="^_^" src="chat-icons/kiki.png" width="16" height="16"></div>
                            <div class="emoticons f" value="-_-"><img alt="-_-" src="chat-icons/squint.png" width="16" height="16"></div>
                            <div class="emoticons f" value="o.O"><img alt="o.O" src="chat-icons/confused.png" width="16" height="16"></div>
                            <div class="emoticons f" value=">:O"><img alt=">:O" src="chat-icons/upset.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":v"><img alt=":v" src="chat-icons/pacman.png" width="16" height="16"></div>
                            <div class="emoticons f" value=":3"><img alt=":3" src="chat-icons/colonthree.png" width="16" height="16"></div>
                        </div>
                        <div class="emoticons-bottom f"></div>
                    </div>
                </div>
                <button id="sendMessage" name="" class="send-btn f-r"></button>
            </div>
        </div>

        <!-- top menu -->
        <div id="online-top-menu-container" class="top-menu-container">
            <div id="online-friends" class="users-list f">
                <!--<div class="user-container f">
                        <div class="friend-image f">
                            <img src="images/friends.png" width="46" height="45" />
                            <div class="friend-image-shadow"></div>
                        </div>
                        <div class="user-name f">
            	Ali Mohammed Ali
                        </div>
                        <div class="group f">
            	Work List
                        </div>

                        <div>
                            <img src="images/user-symbol.png" width="30" height="34" /></div>
                    </div>-->
            </div>
            <div id="online-friends-arrow" class="arrow f"></div>
            <div id="online-friends-top-menu-footer" class="top-menu-footer"></div>
        </div>
        <div id="friendlist-top-menu-container" class="top-menu-container">
            <div id="friend-list" class="users-list f">

                <!--<div class="user-container f">
                        <div class="friend-image f">
                            <img src="images/friends.png" width="46" height="45" />
                            <div class="friend-image-shadow"></div>
                        </div>
                        <div class="user-name f">
            	Ali Mohammed Ali
                        </div>
                        <div class="group f">
            	Work List
                        </div>

                        <div>
                            <img src="images/user-symbol.png" width="30" height="34" /></div>
                    </div>-->

            </div>
            <div id="friendlist-friends-arrow" class="arrow f"></div>
            <div id="friendlist-friends-top-menu-footer" class="top-menu-footer"></div>
        </div>
        <div id="settings-top-menu-container" class="top-menu-container" style="height: 120px;width: 160px;float: right;left: 260px;">
            <div id="settings-menu" class="users-list f" style="height: 120px;width: 160px;">

                <div class="user-container f"style="margin-left: 0px;">
                    <div id="disconnect" class="user-name f" style="margin-left: 50px;margin-top: 8px;cursor: pointer;">
                        Disconnect
                    </div>
                </div>
                <div class="user-container f">
                    <div id="logout" class="user-name f" style="margin-left: 50px;margin-top: 8px;cursor: pointer;">
                        Logout
                    </div>
                </div>

            </div>
            <div id="settings-arrow" class="arrow f" style="left: 76px;bottom: 7px;"></div>
            <div id="settings-top-menu-footer" class="top-menu-footer" style="width: 160px;"></div>
        </div>


        <div id="notconnected" align="center" style="display: none; height:300px;padding-top: 250px;"class="container">
            <span id="" style="color: white;">
                you are disconnected, <a style="cursor: pointer;color: #F5EE94;" id="connect">connect ?</a>
            </span>
        </div>
        <div id="loadingdiv" align="center" style="display: none; height:300px;padding-top: 250px;"class="container">
            <span id="loadindots" style="color: white;">

            </span>
        </div>
        <!--        <div style="font-style: italic;font-weight: lighter;font-size: smaller;color: #000099">last message on TUS 12-8 5:40 pm</div>-->
    </body>
</html>
